$prefixes: "-webkit-", "-moz-", "-ms-", "-o-", "";
$border-prefixes: "-webkit-", "-moz-";

@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      @if $prefix-for-webkit {
        -webkit-#{$property}: $value;
      }
    }
    @else if $prefix == moz {
      @if $prefix-for-mozilla {
        -moz-#{$property}: $value;
      }
    }
    @else if $prefix == ms {
      @if $prefix-for-microsoft {
        -ms-#{$property}: $value;
      }
    }
    @else if $prefix == o {
      @if $prefix-for-opera {
        -o-#{$property}: $value;
      }
    }
    @else if $prefix == spec {
      @if $prefix-for-spec {
        #{$property}: $value;
      }
    }
    @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin disable-prefix-for-all() {
  $prefix-for-webkit:    false;
  $prefix-for-mozilla:   false;
  $prefix-for-microsoft: false;
  $prefix-for-opera:     false;
  $prefix-for-spec:      false;
}


@mixin box-sizing($type) { /* values = border, content, padding */
  -webkit-box-sizing: #{$type}-box;
  -moz-box-sizing: #{$type}-box;
  box-sizing: #{$type}-box;
}


@mixin font-size( $decimal-size, $keyword: null ) {
  $base-font-multiplier: 1;
  @if $keyword { font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px; }
  font-size: $decimal-size * 1rem;
}
// Usage - @include font-size(6, large);

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// none, subpixel-antialiased, antialiased, etc...
@mixin font-smoothing($value) {
    -webkit-font-smoothing: $value;
}

@mixin border-radius($r:.25em) {
  @each $prefix in $prefixes {
    #{$prefix}border-radius: $r;
  }
}
@mixin border-radius-specified($tl:.25em, $tr:.25em, $bl:.25em, $br:.25em) {
  @each $prefix in $border-prefixes {
    #{$prefix}border-radius: $tl $tr $br $bl;
  }
  border-radius: $tl $tr $br $bl;
}

@mixin border-radius-corner($x, $y, $radius) {
  @each $prefix in $prefixes {
    #{$prefix}border-#{$y}-#{$x}-radius: $radius;
  }
}

@mixin transform($transform) {
    @each $vendor in webkit, ms, moz, o {
        -#{$vendor}-transform: $transform;
    }
    transform: $transform;
}
@mixin animation($animation) {
    @each $vendor in webkit, ms, moz, o {
        -#{$vendor}-animation: $animation;
    }
    animation: $animation;
}
@mixin perspective($perspective) {
    @each $vendor in webkit, ms, moz, o {
        -#{$vendor}-perspective: $perspective;
    }
    perspective: $perspective;
}


@mixin transform-style($transform-style) {
    @each $vendor in webkit, ms, moz, o {
        -#{$vendor}-transform-style: $transform-style;
    }
    transform-style: $transform-style;
}
@mixin transform-origin($transform-origin) {
    @each $vendor in webkit, ms, moz, o {
        -#{$vendor}-transform-origin: $transform-origin;
    }
    transform-origin: $transform-origin;
}
@mixin backface-visibility($backface-visibility) {
    @each $vendor in webkit, ms, moz, o {
        -#{$vendor}-backface-visibility: $backface-visibility;
    }
    backface-visibility: $backface-visibility;
}


@mixin realTransition($transitions) {
  @each $vendor in webkit, ms, moz, o {
    -#{$vendor}-transition: $transitions;
  }
  transition: $transitions;
}

// Drop shadows
@mixin box-shadow($shadow...) {
  @each $prefix in $prefixes {
    #{$prefix}box-shadow: $shadow;
  }
}

@mixin appearance($value) {
  @each $prefix in $prefixes {
    #{$prefix}appearance: $value;
  }
}


@mixin arrow($direction, $color, $size){
    display: block;
    height: 0;
    width: 0;
    @if $direction == 'top' {
      border-left: $size solid transparent;
      border-right: $size solid transparent;
      border-bottom: $size solid $color;
    }
    @else if $direction == 'right' {
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid $color;
    }
    @else if $direction == 'bottom' {
      border-top: $size solid $color;
      border-right: $size solid transparent;
      border-left: $size solid transparent;
    }
    @else if $direction == 'left' {
      border-top: $size solid transparent;
      border-right: $size solid $color;
      border-bottom: $size solid transparent;
    }
    @else if $direction == 'top-left' {
      border-top: $size solid $color;
      border-right: $size solid transparent;
    }
    @else if $direction == 'top-right' {
      border-top: $size solid $color;
      border-left: $size solid transparent;
    }
    @else if $direction == 'bottom-left' {
      border-bottom: $size solid $color;
      border-right: $size solid transparent;
    }
    @else if $direction == 'bottom-right' {
      border-bottom: $size solid $color;
      border-left: $size solid transparent;
    }
}

@mixin radial-gradient($from, $to) {
  background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
  background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
  background: radial-gradient(center, circle cover, $from 0%, $to 100%);
  background-color: $from;
}

.radial {
  @include radial-gradient(#555A5F, #000);
  width: 100%;
  height: 100%;
  position: absolute;
}

@mixin background-size($bgsize) {
  -webkit-background-size: $bgsize;
   -o-background-size: $bgsize;
      background-size: $bgsize;
}

@mixin background-image-hires($image, $size: 100% 100%, $filetype: png) {
    background-image: url('#{$image}.#{$filetype}');
    background-size: $size;

    @media only screen and (-webkit-min-device-pixel-ratio: 2){
        background-image: url('#{$image}@2x.#{$filetype}');
    }
}



@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}



$default-font-size: 16px !default;

// Breakpoints

// Set your desired breakpoints here. Ideally, breakpoints should be set to
// where they make sense in the design, not targeted to specific devices.

// Example:
// $breakpoint-large: "min-width: 1350px";

// *-------------------------------------------------------------------------------
$tablet:                    "(max-width: 768px)";
$tablet-portrait:           "(max-width: 50em) and (orientation: portrait)";
$tablet-landscape:          "(max-width: 50em) and (orientation: landscape)";

$mobile:                    "(max-width: 30em)";
$mobile-portrait:           "(max-width: 30em) and (orientation : portrait)";
$mobile-landscape:          "(max-width: 30em) and (orientation : landscape)";



// Contexts

// Not necessarily the same as breakpoints, but a point from which to judge
// relative values.  Put common ones here, such as the maximum width of
// the content.

// Example:
// $context-small: 420px;



// Mixins

// responsive: to use, include the following code in your
// declarations:
//
// .class {
//     some-property: some-value;
//     @include responsive($breakpoint) { some-property: some-new-value; }
// }
//
// By default, the declared media value is "all", but this can
// be overridden by calling the mixin as:
// @include responsive($breakpoint, screen)
// (using "screen" as an example)
//
// You can define common breakpoints in the variables section above
// and reuse them.  Else, you can pass it literally when calling the
// mixin:
//
// .class {
//     @include responsive('min-width: 640px') { some-property: some-new-value; }
// }

@mixin responsive($breakpoint, $media: all) {
  @media only #{$media} and ($breakpoint) {
    @content;
  }
}


// breakpoint: Chris Coyier's method for creating media queries.
// See: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
// Make up **meaningful** names for your breakpoints so that you
// and the members of your team can understand and remember them.
// Also, adjust this mixin for as many breakpoints as you need.
// You'll likely need finer control for things like font size
// adjustments, so the "responsive" mixin above can help fill in
// the gaps.
//
// This is currently set up as mobile first, expanding upwards.
// You'll need to change "min-width" to "max-width" if you're
// working from the desktop down.

@mixin breakpoint($breakpoint, $media: all) {

  // Change these values as required
  $medium: 640px / 16px * 1em;
  $large: 1024px / 16px * 1em;
  $xlarge: 1280px / 16px * 1em;

  @if $breakpoint == medium {
    @media only #{$media} and (min-width: $medium) {
      @content;
    }
  } @else if $breakpoint == large {
    @media only #{$media} and (min-width: $large) {
      @content;
    }
  } @else if $breakpoint == xlarge {
    @media only #{$media} and (min-width: $xlarge) {
      @content;
    }
  }
}


// bp: alias for breakpoint

@mixin bp($breakpoint, $media: all) {
  @include breakpoint($breakpoint, $media) {
    @content;
  }
}

@mixin hidpi($media: all) {
  @media
    only #{$media} and (min--moz-device-pixel-ratio: 1.5),
    only #{$media} and (-o-min-device-pixel-ratio: 3/2),
    only #{$media} and (-webkit-min-device-pixel-ratio: 1.5),
    only #{$media} and (min-device-pixel-ratio: 1.5),
    only #{$media} and (min-resolution: 144dpi),
    only #{$media} and (min-resolution: 1.5dppx) {

    @content;
  }
}


@mixin retina($media: all) {
  @include hidpi($media) { @content; }
}

$default-font-size: 16px !default;
@mixin rem($property, $value, $context: $default-font-size) {
  #{$property}: $value;
  #{$property}: cr($value, $context);
}

@function calculateRem($size) {
  $remSize: $size /10px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  // @include rem(font-size, $font-size);
  font-size: $size;
  font-size: calculateRem($size);
}


@function calc-percent( $target, $context ) {
  @return percentage( $target / $context );
}

// Shorthand redeclaration of the above
@function cp( $target, $context ) {
  @return calc-percent( $target, $context );
}

@function calc-em( $target, $context ) {
  @return $target / $context * 1em;
}

@function ce( $target, $context ) {
  @return calc-em( $target, $context );
}

@function hidpi-sprite-adjustment($sprite-map, $sprite) {
  @return round(nth(sprite-position($sprite-map, $sprite), 2) / 2);
}

@function retina-sprite-adjustment($sprite-map, $sprite) {
  @return hidpi-sprite-adjustment($sprite-map, $sprite);
}
