$green: #206938;
$yellow: #ffd416;
$dark-main: #1e1e1e;
$mid-dark: #67686a;
$dark: #414243;
$darkest: #2a2e32;
$headings: #414243;
$text-color: #9c9ea0;
$input-color: #9c9ea0;
$dividers: #eaedf0;
$background: #f0f4f7;

$animSpeed: 350ms;

$twitter: #55acee;
$facebook: #3b5998;
$instagram: #3f729b;

$xtra-large-width:                      1600px;
$large-width:                           1240px;
$desktop-width:                         1170px;
$tablet-landscape-width:                1024px;
$mid-width:                             990px;
$tablet-width:                          768px;
$phone-tablet-width:                    698px;
$phone-retina-width:                    640px;
$phone-width:                           480px;
$small-mid-width:                       400px;
$small-width:                           360px;

$font: 'Open Sans', "Helvtica Neue", Helvetica, Arial, Myriad Pro, sans-serif;
$font-condensed: 'Open Sans Condensed', "Helvtica Neue Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
// $font2: 'Oswald', 'Montserrat', "Helvtica Neue", Helvetica, Arial, Myriad Pro, sans-serif;
// @import "fontawesome";
.fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: $green;
  color: #FFF;
}

.m-t-100 { margin-top: 100px; }
.m-t-60 { margin-top: 60px; }
.m-t-50 { margin-top: 50px; }
.m-t-40 { margin-top: 40px; }
.m-t-20 { margin-top: 20px; }
.m-t-10 { margin-top: 10px; }
.m-t-0 { margin-top: 0px; }
.m-b-100 { margin-bottom: 100px; }
.m-b-60 { margin-bottom: 60px; }
.m-b-50 { margin-bottom: 50px; }
.m-b-40 { margin-bottom: 40px; }
.m-b-20 { margin-bottom: 20px; }
.m-b-10 { margin-bottom: 10px; }
.m-b-0 { margin-bottom: 0px; }
.p-b-60 { padding-bottom: 60px; }
.p-b-100 {padding-bottom: 100px; }


.delay-0 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.delay-1000 {
  -webkit-animation-delay: 1000;
  animation-delay: 1000;
}
.delay-2000 {
  -webkit-animation-delay: 2000;
  animation-delay: 2000;
}
.delay-3000 {
  -webkit-animation-delay: 3000;
  animation-delay: 3000;
}



.animated {
  -webkit-animation-duration: $animSpeed * 2;
  animation-duration: $animSpeed * 2;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}





.browsehappy {
  position: absolute;
  background: #292929;
  border: 1px solid #1c1c1c;
  z-index: 999;
  top: 72px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  padding: 20px;
}





