<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include _partials/head %>

  </head>

  <body>


    <div class="container">

      <section class="test panel">

        <div class="panel-body">
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </div>

      </section>

    </div>



    <% include _partials/scripts %>

  </body>
</html>
