.radial {
  background: -moz-radial-gradient(center, circle cover, #555A5F 0%, #000 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555A5F), color-stop(100%, #000));
  background: -webkit-radial-gradient(center, circle cover, #555A5F 0%, #000 100%);
  background: -o-radial-gradient(center, circle cover, #555A5F 0%, #000 100%);
  background: -ms-radial-gradient(center, circle cover, #555A5F 0%, #000 100%);
  background: radial-gradient(center, circle cover, #555A5F 0%, #000 100%);
  background-color: #555A5F;
  width: 100%;
  height: 100%;
  position: absolute;
}

.fontawesome {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: #206938;
  color: #FFF;
}

.m-t-100 {
  margin-top: 100px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.delay-0 {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.delay-1000 {
  -webkit-animation-delay: 1000;
  animation-delay: 1000;
}

.delay-2000 {
  -webkit-animation-delay: 2000;
  animation-delay: 2000;
}

.delay-3000 {
  -webkit-animation-delay: 3000;
  animation-delay: 3000;
}

.animated {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.browsehappy {
  position: absolute;
  background: #292929;
  border: 1px solid #1c1c1c;
  z-index: 999;
  top: 72px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #FFF;
  padding: 20px;
}

/*# sourceMappingURL=application.css.map */
