      <footer id="footer">

        <div class="img-container text-center"><img class="footer-img" src="images/logo-white.png" alt="Monroe Warehouse"></div>

        <div class="bottom">
          <div class="container">
            <p class="pull-left">&copy; 2016 Monroe Warehouse</p>

            <div class="pull-right">
              <a href="mailto:info@monroewarehouse.com"><i class="fa fa-envelope-o"></i> &nbsp;info@monroewarehouse.com</a>
              <a href="tel:318-387-9241"><i class="fa fa-phone"></i> &nbsp;1-(318) 387-9241</a>
            </div>
          </div>
        </div>

        <a id="back-to-top" href="#"><i class="fa fa-angle-up"></i></a>
      </footer>
