<div id="home" class="top-wrapper">

    <div class="body-wrapper">

        <header class="header-wrapper header-transparent">

            <div id="header" class="header-inner header-style01">
                <div class="container header-container">

                    <div class="row">

                        <div class="navbar-header">
                            <div class="logo">
                                <!--
                                <a href="#index">
                                    <img src="images/logo.svg" alt="Monroe Warehouse"/>
                                </a>
                                -->
                                <a href="#home" class="logo-img"></a>
                            </div>
                        </div>

                        <!-- RESPONSIVE MENU -->
                        <div id="responsive-menu" class="responsive-navigation dl-menuwrapper">
                            <button class="dl-trigger">Open Menu</button>

                            <ul class="dl-menu main-mobile-menu">
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About</a></li>
                                <li><a href="#services">Services</a></li>
                                <li><a href="#industries">Industries</a></li>
                                <!--
                                <li class="dl-menu parent-menu">
                                    <a href="#industries">Industries</a>
                                    <ul class="dl-submenu">
                                        <li><a href="industry_1">Industry 1</a></li>
                                        <li><a href="industry_2">Industry 2</a></li>
                                    </ul>
                                </li>
                                -->
                                <li><a href="#careers">Careers</a></li>
                                <li><a href="#contact">Contact</a></li>
                            </ul>
                        </div>
                        <!-- END RESPONSIVE MENU -->


                        <div class="navigation-wrapper main-nav">
                            <div class="navigation-container">
                                <nav id="main-nav" class="navbar navbar-default nav-left navigation" role="navigation">

                                    <!-- MAIN NAVIGATION -->
                                    <div class="collapse navbar-collapse">
                                        <ul class="nav navbar-nav">
                                            <li class="active"><a href="#home" class="">Home</a></li>
                                            <li class=""><a href="#about" class="">About</a></li>
                                            <li class=""><a href="#services" class="">Services</a></li>
                                            <li class=""><a href="#industries" class="">Industries</a></li>
                                            <!--<li class="dropdown">
                                                <a href="" data-toggle="dropdown" class="dropdown-toggle">Industries</a>
                                                <ul class="dropdown-menu">
                                                    <li><a href="#industries-1">Some Link 1</a></li>
                                                    <li><a href="#industries-2">Some Link</a></li>
                                                </ul>
                                            </li>-->

                                            <li class=""><a href="#careers" class="">Careers</a></li>
                                            <li class=""><a href="#contact" class="">Contact</a></li>

                                        </ul>

                                    </div>
                                </nav>
                            </div>
                        </div>

                        <div id="header-substitute"></div>

                    </div>

                </div>
            </div>

        </header>

    </div>




    <% include ../_partials/slider %>
</div>
