    <script type="text/javascript" src="javascripts/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/main.js"></script>
